
        <div class="container">
            <div class="header-left">
                <div class="header-logo">DotNetMomma</div>

            </div>
            <div class="header-right">
                <div class="navbar">
                <div class="navbar-toggle" onclick="classToggle()"><i class="fas fa-bars"></i></div>
                <nav class="navbar-items">
                    <div class="navbar-links"><a href="index.html">Home</a></div>
                    <div class="navbar-links"><a href="tools.html">Tools</a></div>
                    <div class="navbar-links"><a href="training.html">Training</a></div>
                    <div class="navbar-links"><a href="blog.html">Blog</a></div>
                    <div class="navbar-links"><a href="contact.html" >Contact</a></div>
                    <div class="navbar-links"><a href="kids.html">For Kids</a></div>
                </nav>
            </div>
            </div>
        </div>
  