
/* For Tablets */
@media all and (max-width: 1078px) {
    .header-logo {
        font-size: 18px;
    }
    .banner-wrapper {
        height: 150px;
    }
    .image-content img {
        width: 150px;
    }
    .text-content h1{
        font-size: 25px;
    }
    .sub-heading {
        font-size: 14px;
    }
    .item-box {

        width: 45%;

    }
    .tool {
        width: 50%;
    }
    
}
  
/* For Smartphones */
@media all and (max-width: 670px) {
    header {
        /* height: 20px;     */
    }
    .header-logo {
        font-size: 12px; 
    }

    .navbar, .navbar-items {
        flex-direction: column;
    }
    .navbar-items {
        display: none;
        margin-left: 0px;
    }
    .nav-bar-links {
        line-height: 20px;
    }
    .navbar-toggleshow {
        display: flex;
        float: left;
        
    }
    .navbar-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .banner-wrapper {
        padding-top: 15px;
        height: 125px;
        text-align: center;
    }

    .image-content {
            display: none;
    }
    .text-content {
        padding-left: 10px;
    }
    
    .text-content h1 {
        font-size: 16px;

    }
    .sub-heading {
        font-size: 15px;
        height: 20px;
        line-height: 20px;
    }
    .menu-wrapper {
        height: 100vh;
    }
    .menu-items {
        width: 100%;
        height: 100px;
    }
    .item-box {
        width: 80%;
        padding-bottom: 15px;
    }
    .pageheader-wrapper {
        height: 75px;
        padding-top: 25px;
    }
    .pageheader-wrapper h1 {
        font-size: 22px;
    }
    .section-heading {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .tool-header {
        padding-top: 10px;
        font-size: 16px;
    }
    .tool {
        width: 100%;
    }
    .tool .description {
        font-size: 14px;
    }
}